<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>资源列表</span>
    <span class="full"></span>
    <mat-icon (click)="openDialog()" class="upload" aria-hidden="false" aria-label="Example add icon">note_add</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<div class="assets-container mat-elevation-z8">
  <div class="assets-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="assets-table-container">

    <table mat-table [dataSource]="data" class="assets-table">
      <!-- 文件名 -->
      <ng-container matColumnDef="fileName">
        <th mat-header-cell *matHeaderCellDef>文件名</th>
        <td mat-cell *matCellDef="let row">{{row.fileName}}</td>
      </ng-container>

      <ng-container matColumnDef="isImage">
        <th mat-header-cell *matHeaderCellDef>是否图片</th>
        <td mat-cell *matCellDef="let row">{{row.isImage ? '是' : '否'}}</td>
      </ng-container>

      <ng-container matColumnDef="tinyFilePath">
        <th mat-header-cell *matHeaderCellDef>服务器路径</th>
        <td mat-cell *matCellDef="let row">{{row.tinyFilePath}}</td>
      </ng-container>

      <ng-container matColumnDef="cdnPath">
        <th mat-header-cell *matHeaderCellDef >
          CDN路径
        </th>
        <td mat-cell *matCellDef="let row">{{row.cdnPath}}</td>
      </ng-container>
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef >
          创建时间
        </th>
        <td mat-cell *matCellDef="let row">{{row.createdAt}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="5" ></mat-paginator>
</div>
