<div class="login-wrapper container">
  <mat-card class="example-card">
    <img mat-card-image src="https://cdn.jsdelivr.net/gh/wuxjian/assets/cms/login_logo_720882_tiny.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field  appearance="standard">
          <mat-label>用户名</mat-label>
          <input matInput formControlName="username">
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error *ngIf="loginForm.get('username').hasError('required')">
            用户名必填
          </mat-error>
        </mat-form-field>
        <mat-form-field  appearance="standard">
          <mat-label>密码</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="loginForm.get('password').hasError('required')">
            密码必填
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="loginForm.invalid">登录</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
