<div class="layout-container">
<!--  头部-->
  <app-manage-header [drawer]="drawer"></app-manage-header>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav"
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) === false">
<!--      菜单list-->
      <app-manage-menu-list></app-manage-menu-list>
    </mat-sidenav>
    <mat-sidenav-content class="content-wrapper">
      <div class="content">
        <router-outlet>

        </router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


